
<div class="container mt-5">



<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><button  class="btn btn-info" routerLink="/home">REGRESAR</button></li>
      <li class="breadcrumb-item active" aria-current="page">Tranquilo No pasa nada jsjs</li>
    </ol>
  </nav>
<div align="center">
    <H1>UUPSS!! ;(</H1>
    <h2>Has ingresado a una pagina que no existe </h2>
</div>
<div align="center">
   <img src="/assets/imagenes/LOS PAJARITOS.png">

 
</div>




</div>












