<app-header></app-header>
<div class="container">
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/acerca-dnosotros">ACERCA DE NOSOTROS</a></li>
      <li class="breadcrumb-item active" aria-current="page">AVISO DE PRIVACIDAD</li>
    </ol>
  </nav>

  <div align="center">
    <h1>
        AVISO DE PRIVACIDAD
   
  
</h1>
<h6>
  ¿Para qué fines utilizaremos sus datos personales? 
</h6>
<br>
  </div>

  <div align="">
    <h6>
      <p>
        De manera adicional, utilizaremos su información personal para 
       siguientes finalidades
        secundarias que no son necesarias para el servicio solicitado,
        pero que nos permiten 
        y facilitan brindarle una mejor atención:
        <br>
    
       •	Para fines publicitarios
       <br>
       •	Mercadotecnia o publicitaria
       <br>
       •	Prospección comercial
      </p>
      
       <p>
        En caso de que no desee que sus datos personales se utilicen para estos fines secundarios, indíquelo a continuación:
    
        No consiento que mis datos personales se utilicen para los siguientes fines:
        <br>
        [  ] Para fines publicitarios
        <br>
        [  ] Mercadotecnia o publicitaria 
        <br>
        [  ] Prospección comercial 
        <br>
        
        La negativa para el uso de sus datos personales para estas finalidades no podrá ser un motivo para que le neguemos los servicios y productos que solicita o contrata con nosotros.
        
       </p>
        <br>
        <div align="center">

          ¿Qué datos personales utilizaremos para estos fines? 
        </div>
 <br>
Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes datos personales:
<br>
•	Datos de identificación
<br>
•	Datos de contacto
<br>

¿Cómo puede acceder, rectificar o cancelar sus datos personales, u oponerse a su uso? 
 
Usted tiene derecho a conocer qué datos personales tenemos de usted, para qué los utilizamos y las condiciones del uso que les damos (Acceso). Asimismo, es su derecho solicitar la corrección de su información personal en caso de que esté desactualizada, sea inexacta o incompleta (Rectificación); que la eliminemos de nuestros registros o bases de datos cuando considere que la misma no está siendo utilizada adecuadamente (Cancelación); así como oponerse al uso de sus datos personales para fines específicos (Oposición). Estos derechos se conocen como derechos ARCO.
 
Para el ejercicio de cualquiera de los derechos ARCO, usted deberá presentar la solicitud respectiva a través del siguiente medio: 

Puede comunicarse a través del número de teléfono (771) 352 3786 o al correo boradorassantacruz@outlook.com 

      </h6>
  
  
  </div>
  <br>
  <div align="center">
    <h6>
      ¿Cómo puede limitar el uso o divulgación de su información personal? 
    </h6>
   

  </div>
  <br>
 <p align="center">  Con objeto de que usted pueda limitar el uso y divulgación de su información personal, le ofrecemos los siguientes medios: 
  
  A través del sitio de internet
  Asimismo, usted se podrá inscribir a los siguientes registros, en caso de que no desee obtener publicidad de nuestra parte: 

Registro Público para Evitar Publicidad, para más información consulte el portal de internet de la PROFECO
Registro Público de Usuarios, para mayor información consulte el portal de internet de la CONDUSEF

   </p>
  
  </div>
<app-footer></app-footer>
