<app-header></app-header>
<div class="container">
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/acerca-dnosotros">ACERCA DE NOSOTROS</a></li>
      <li class="breadcrumb-item active" aria-current="page">MISIÒN/VISIÒN/VALORES</li>
    </ol>
  </nav>

  <div align="center">
    <h1>
        MISION:
        <BR>
        <h5>Ofrecer a nuestros clientes productos de calidad a precios comodos
        <br> que cumplancon sus necesidades y exigencias abarcando sus gustos
        <br> de acuerdo a su estilo de ver y vivir la vida.
        </h5>
    </h1>
    <br>
 
    <BR>
        <h1>VISION:</h1>

        <h5>Ser una empresa reconocida en la venta de ropa.Lograr tambien extendernos 
        <br> y crear nuestras cadenas de almacenes, proporcionando cada dia mas un 
        <br> servicio de exelencia a nuestros clientes y que al mismo tiempo nos permitan 
        <br>competir en el mercado nacional con los mejores precios del mercado.
        </h5>
  </div>



</div>
<app-footer></app-footer>